<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/products/create}" method="post" th:object="${product}" enctype="multipart/form-data" >
    <input type="hidden" name="" th:field="*{id}"> <br>
    Tên sản phẩm  : <input type="text" th:field="*{nameProduct}"> <br>
    <span th:if="${#fields.hasErrors('nameProduct')}"
          th:errors="*{nameProduct}"
          class="text-danger"></span> <br>
    Giá sản phẩm : <input type="text" th:field="*{price}"> <br>
    <span th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}"
          class="text-danger"></span> <br>
    Ảnh sản phẩm:
    <input type="file" name="imageProduct" accept="image/*">
<!--    <input type="text" th:field="*{image}">-->
    <br>
    Mô tả sản phẩm <input type="text" th:field="*{description}"> <br>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"
          class="text-danger"></span> <br>
    The loai sản phẩm:
    <select th:field="*{category}" required>
         <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
    </select> <br>
    Tình trạng :
    <select th:field="*{inStock}">
        <option th:value="true">Còn hàng</option>
        <option th:value="false">Hết hàng</option>
    </select>
    <br>
    <button type="submit">Lưu</button>
</form>
</body>
</html>